[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-restful = "*"
marshmallow = "*"

[dev-packages]
pylint = "*"
yapf = "*"
rope = "*"

[requires]
python_version = "3.7"
