[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-restful = "*"
marshmallow = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
flask-script = "*"
flask-migrate = "*"
pytest = "*"
coverage = "*"
coveralls = "*"

[dev-packages]
pylint = "*"
yapf = "*"
rope = "*"

[requires]
python_version = "3.7"
